.chat
  = render partial: 'groups/side_bar'
  .chat-group
    .group
      .group__informations.left
        .name
        = @group.name
        .members.gray
          Members:
          - @group.users.each do |user|
            %span.member-name
              = user.nickname
      .right
        = link_to 'Edit', edit_group_path(@group), class: 'edit'
    %ul.messages.position-relative
      = render partial: 'layouts/flash'
      = render partial: 'messages/message'
